@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.nav {
  overflow: hidden;
  margin-top: 2rem;

  .wrapper {
    position: relative;

    div {
      margin: 0.25rem 0;
    }
    .el {
      cursor: pointer;
      position: relative;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 0.5rem 0;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
